<h1>Movie</h1>

<ul>
	<% @movies.each do |movie| %>
		<li>
			Titel: <%= movie.title %>,
			Bewertung: <%= movie.rating %>,
			Produktionskosten: <%= movie.total_gross %>
			Bemerkung: <%= movie.description %>
			Herausgekommen am: <%= movie.released_on %>
		</li>
	<% end %>
</ul>