<h1><%= "Movie".pluralize(@movies.count) %></h1>
<table>
	<tr>
		<th>Titel</th>
		<th>Bewertung:</th>
		<th>Kosten</th>
		<th>Bemerkung</th>
		<th>Herausgekommen am</th>
		<% if current_user %>
			<th>Registrierungen</th>
			<th>Show</th>
			<% if current_user_admin? %>
				<th>Edit</th>
				<th>Löschen</th>
			<% end %>
		<% end %>
	</tr>
	<% @movies.each do |movie| %>
		<tr>
			<td><%= movie.title %></td>
			<td><%= movie.rating %></td>
			<td><%= format_price(movie.total_gross) %></td>
			<td><%= truncate(movie.description, :length => 40) %></td>
			<td><%= movie.released_on %></td>
			<% if current_user %>	
				<td><%= link_to "Reviews", movie_reviews_path(movie.id) %></td>
				<td><%= link_to "Show", movie_path(movie.id) %></td>
				<% if current_user_admin? %>
					<td><%= link_to "Edit", edit_movie_path(movie.id) %></td>
					<td><%= link_to "Delete", movie_path(movie.id), method: :delete, data: {confirm: 'Sicher löschen?'} %></td>
				<% end %>
			<% end %>
		</tr>
	<% end %>

</table>
<p><%= link_to "Neues Movie", new_movie_path if current_user_admin? %></p>