<h1><%= @movie.title %></h1>
<h3>bewertung</h3>
<p><%= @movie.rating %></p>

<h3>Kosten</h3>
<p><%= @movie.total_gross %></p>

<h3>Bemerkung</h3>
<p><%= @movie.description %></p>

<p><%= link_to "Alle Movies anzeigen", movies_path %></p>